
<ion-header>
  <ion-toolbar>
    <ion-title>detailProduct</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>
<ion-content *ngFor="let product of product_detail">


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="cart-button">
    <ion-fab-button  href="/cart" color="warning">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/history" color="light">
      <ion-icon name="time-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="detail-container">
   
    <img src="assets/images/{{product.image}}" alt="">

  </div>
  <div class="detail-container-content">
    <div class="detail-title">{{product.name}}</div>
    <div class="detail-title">{{numberFormat.format(product.price)}}</div>

    <ion-button (click)="saveCart(product)" color="secondary" class="ion-margin-bottom">
      <ion-icon name="cart-outline"></ion-icon> 
      Thêm vào giỏ hàng
    
    </ion-button>

    <div class="detail-tutorial">{{product.tutorial}}</div>

    


  </div>

  
    <ion-slides pager="true" [options]="slideOpts" class="product-relative">
      <ion-slide>
          <div class="container-tab1">
            
            <div class="product-col" *ngFor="let product of products_relative_1">
              <img src="assets/images/{{product.image}}" alt="" routerLink="/detail-product/{{product.name}}">
              <ion-fab-button class="button-add-to-cart" (click)="saveCart(product)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
      </ion-slide>
      <ion-slide>
        <div class="container-tab1">
      
          <div class="product-col" *ngFor="let product of products_relative_2">
            <img src="assets/images/{{product.image}}" alt="" routerLink="/detail-product/{{product.name}}">
            <ion-fab-button class="button-add-to-cart" (click)="saveCart(product)">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="container-tab1">
      
          <div class="product-col" *ngFor="let product of products_relative_3">
            <img src="assets/images/{{product.image}}" alt="" routerLink="/detail-product/{{product.name}}">
            <ion-fab-button class="button-add-to-cart" (click)="saveCart(product)">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </ion-slide>
      
      <span [innerHTML]="sliderHandle"></span>
     
    </ion-slides>
  
</ion-content>
