.detail-container {
  display: grid;
  justify-content: center;
  margin-top: 10px;
}
.detail-container-content {
  margin: 6%;
}

.detail-title {
  margin-bottom: 10%;
}
ion-fab-button.button-add-to-cart {
  position: absolute;
  bottom: -10px;
  right: -10px;
  border: 7px solid #ffffff;
  border-radius: 50%;
}
.container-tab1 {
  display: flex;
  flex-flow: nowrap;
  align-content: space-between;
  /* fixed height, cao hơn độ cao của item cao nhất */
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
}

.product-col {
  width: 45%;
  margin-left: 3%;

  position: relative;
  border-radius: 20px;
}
img {
  border-radius: 20px;
}
.cart-button {
  bottom: 85px;
}

ion-header {
  overflow: hidden;
}
ion-toolbar {
  background-color: orange;
  border: none;
}
ion-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  ion-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .icon {
    width: 50px;
    height: 50px;
    text-align: center;
  }
}
