

<div class="page-container">
   
  <div class="register-container">
<ion-label class="header"> FoodD </ion-label>

  <form [formGroup]="registerForm" (ngSubmit)="register()">

      <ion-input type="email" required formControlName="email" placeholder="&#xf199; Email"
        class="fontAwesome"></ion-input>
  
      <ion-input
        type="password"
        required
        formControlName="password"
        required
         placeholder="&#xf023; Mật khẩu"
        class="fontAwesome"
      ></ion-input>

   
      <ion-input
        type="text"
        required
        formControlName="name"
        required
      ></ion-input>
    


      <ion-input
        type="number"
        required
        formControlName="sdt"
        required
      ></ion-input>
   


      <ion-input
        type="text"
        required
        formControlName="address"
        required
      ></ion-input>
   

    <ion-button type="submit" class="ion-padding" expand="block">ĐĂNG KÍ</ion-button>
      <ion-label>Đã có tài khoản?
        <ion-router-link href="/login">đăng nhập tại đây</ion-router-link>
      </ion-label>
  </form>
    </div>

</div>