<ion-header>
  <ion-toolbar color="orange">
  <div class="header">
    <img class="icon" src="../../assets/fast-food.svg" alt="icon">
    <ion-title>Chi tiết đơn hàng</ion-title>
  </div>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home" style="color:white">Back</ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list *ngFor="let hoas_item of hoadon_show"  >
    <ion-item>
      <ion-label>Tên: {{hoas_item.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Số điện thoại: {{hoas_item.sdt}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{hoas_item.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Địa chỉ: {{hoas_item.address}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tổng số tiền: {{hoas_item.totalcart}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<ion-content>
  <ion-toolbar class="ion-margin-top">
    <h2 style="text-align: left; font-weight: 800;">Sản phẩm đã mua</h2>
  </ion-toolbar>

<ion-item *ngFor="let product of product_buyed" id={{product.productid}}>
  <ion-thumbnail slot="start">
    <img src="assets/images/{{product.image}}" routerLink="/detail-product/{{product.name}}">
  </ion-thumbnail>
  <ion-label>
    <h3 routerLink="/detail-product/{{product.name}}">{{product.name}}</h3>
    <p>{{this.numberFormat.format(product.price)}}</p>
    <p>Số lượng: {{product.soluongcart}}</p>


  </ion-label>

</ion-item>
</ion-content>
