<ion-header>
  <ion-toolbar color="orange">
    <ion-title class="title"> Thông tin</ion-title>
    <ion-buttons slot="start" style="color:white">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
<div class="user-page" >
  <div class="header-color">
  
  </div>
    <div class="user-image">
      <img src="https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683__340.png" alt="user image">
    </div>
  <div class="user-info">
    <p>Email: </p>
    <p>Sdt:</p>
    <p>Address:</p>
</div>
</div>


</ion-content>
