<ion-header>
  <ion-toolbar color="orange">
  <div class="header">
    <img class="icon" src="../../assets/fast-food.svg" alt="icon">
    <ion-title>Lịch sử</ion-title>
  </div>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home" style="color:white">Back</ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>


<!--  -->
<ion-content class="ion-margin-bottom">


 <ion-toolbar>
    <h2 style="text-align: left; font-weight: 800;">Các đơn đã đặt hàng</h2>
  </ion-toolbar>


  <ion-item *ngFor="let hoadon of hoa_don" >
    <!-- <ion-thumbnail slot="start">
      <img src="assets/images/{{product.image}}" routerLink="/detail-product/{{product.name}}">
    </ion-thumbnail> -->
    <ion-label>
      <h3 >{{hoadon.name}}</h3>
      <p>Giá trị hóa đơn: {{hoadon.totalcart}} vnđ</p>
    
      <ion-button routerLink="/history-order/{{hoadon.totalcart}}" >
       

        Xem chi tiết
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>

<!-- 
      <ion-button (click)="UpdateAlertMultipleButtons(user)" color="secondary">
        <ion-icon name="add-outline"></ion-icon>

        Thêm
      </ion-button> -->

      <!-- <ion-button (click)="deleteCartproduct(product.id)" color="danger">
        <ion-icon name="trash-outline"></ion-icon>

        Xoá
      </ion-button> -->

    </ion-label>

  </ion-item>


</ion-content>


<ion-content class="ion-margin-top">


  <ion-toolbar class="ion-margin-top">
    <h2 style="text-align: left; font-weight: 800;">Đã xem gần đây</h2>
  </ion-toolbar>


  <ion-item *ngFor="let product of productHistory" id={{product.productid}}>
    <ion-thumbnail slot="start">
      <img src="assets/images/{{product.image}}" routerLink="/detail-product/{{product.name}}">
    </ion-thumbnail>
    <ion-label>
      <h3 routerLink="/detail-product/{{product.name}}">{{product.name}}</h3>
      <p>{{this.numberFormat.format(product.price)}}</p>
      <p>{{product.category}}</p>
      <ion-button (click)="deleteCartproduct(product.productid)" color="danger">
        <ion-icon name="trash-outline"></ion-icon>

        Xoá
      </ion-button>

    </ion-label>

  </ion-item>

  
</ion-content>
