.page-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("https://thumbs.dreamstime.com/z/breakfast-seamless-texture-different-meals-drinks-colored-blue-background-vector-cartoon-style-illustration-food-coffee-101924711.jpg");
  .fontAwesome {
    font-family: "Helvetica", FontAwesome, sans-serif;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
    background: none;
    z-index: 1;
    .regis {
      color: white;
      margin-top: 20px;
      font-size: 15px;
    }
    ion-input {
      margin-top: 30px;
      width: 300px;
      border: none;
      border-radius: 10px;
      background-color: white;
      padding: 7px;
      outline: none;
    }
    ion-button {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 12px;
      width: 90%;
    }
  }
  .header {
    border-bottom: 0.3px solid green;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: bold;
    color: white;
    font-size: 50px;

    .icon {
      width: 100px;
      height: 100px;
    }
  }
}
