<ion-header>
  <ion-toolbar color="orange">
    <div class="header">
      <img class="icon" src="../../assets/fast-food.svg" alt="icon">
    <ion-title>Giỏ hàng</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color:white">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-buttons slot="start">
  <ion-back-button defaultHref="/home">Back</ion-back-button>
</ion-buttons> -->



<ion-fab  vertical="bottom" horizontal="end" slot="fixed" class="come_home">
  <ion-fab-button routerLink="/home" color="secondary">
    <ion-icon name="home-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<section>
  <ion-button expand="block" id="thanhtoan_button"  (click) = "thanhtoan()">Thanh toán</ion-button>

  <!-- <ion-button color="warning" routerLink="/tabs/tab1">Chọn món</ion-button> -->
  <!-- <ion-button color="danger">Danger</ion-button> -->
</section>



<ion-content>
<ion-toolbar>
 <p> Tổng giá: </p><ion-title><b style="display: block;">{{this.numberFormat.format(total)}} </b></ion-title> 
</ion-toolbar>

<ion-item *ngFor="let product of productCart" id="{{product.productid}}"> 
  <ion-thumbnail slot="start">
    <img src="assets/images/{{product.image}}" routerLink="/detail-product/{{product.name}}">
  </ion-thumbnail>
  
    <ion-row class="cart-container">
        <ion-col>
    <h3 routerLink="/detail-product/{{product.name}}">{{product.name}}</h3>
    <p>{{numberFormat.format(product.price)}}</p>
    <p>{{product.category}}</p>
   
       
       
        </ion-col>
        <ion-col>
         
          <ion-item>
            <ion-label position="stacked">Số lượng</ion-label>
            <ion-input    [(ngModel)]="cart_slitem"  type="number" disabled>{{product.soluongcart}}</ion-input>
          </ion-item>

          <ion-button (click)="tangsoluong(product.productid)" color="secondary">
            <ion-icon name="add-outline" ></ion-icon>
          
          
          </ion-button>
          
          <ion-button (click)="deleteCartproduct(product.productid)" color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          
          
          </ion-button>
        </ion-col>
</ion-row>
  
  
</ion-item>
</ion-content>
