<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="start">
  <ion-back-button defaultHref="/home">Back</ion-back-button>


</ion-buttons>


<section>
  <ion-button expand="block">Thanh toán</ion-button>

  <!-- <ion-button color="warning" routerLink="/tabs/tab1">Chọn món</ion-button> -->
  <!-- <ion-button color="danger">Danger</ion-button> -->
</section>



<ion-content>
<ion-toolbar>
 <p> Tổng giá: </p><ion-title><b style="display: block;">{{total}} vnđ</b></ion-title> 
</ion-toolbar>

<ion-item *ngFor="let product of productCart" id="{{product.id}}"> 
  <ion-thumbnail slot="start">
    <img src="assets/images/{{product.image}}" routerLink="/detail-product/{{product.name}}">
  </ion-thumbnail>
  
    <ion-row class="cart-container">
        <ion-col>
    <h3 routerLink="/detail-product/{{product.name}}">{{product.name}}</h3>
    <p>{{product.price}} vnđ</p>
    <p>{{product.category}}</p>
   
       
       
        </ion-col>
        <ion-col>
         
          <ion-item>
            <ion-label position="stacked">Số lượng</ion-label>
            <ion-input   [(ngModel)]="cart_slitem"  type="number" disabled>{{product.soluongcart}}</ion-input>
          </ion-item>

          <ion-button (click)="tangsoluong(product.id)" color="secondary">
            <ion-icon name="add-outline" ></ion-icon>
          
          
          </ion-button>
          
          <ion-button (click)="deleteCartproduct(product.id)" color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          
          
          </ion-button>
        </ion-col>
</ion-row>
  
  
</ion-item>
</ion-content>
